<?xml version="1.0"?>

<launch>

	

	<!-- Start the driver. NOTE: Every joint topic is mapped to armName/joint_states -->
	<node name="teleop" pkg="robomuse" type="teleop" output="log"/>
	<node name="zeta" pkg="robomuse" type="zeta" output="screen"/>
        <!--node name="dist" pkg="robomuse" type="dist" output="log"/>
<node name="example3_a" pkg="robomuse" type="example3_a" output="log"/-->

	<!-- upoad URDF model to the parameter server-->  
	<param name="robot_description" command="$(find xacro)/xacro.py $(find robomuse)/robots/robomuse_base_only.urdf.xacro" />


	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
	<!--node name="RVIZ" pkg="rviz" type="rviz" /--> 
</launch>

