<?xml version="1.0"?>
<launch>
	<include file = "$(find openni_launch)/launch/openni.launch">
	    <arg name="publish_tf" value="false"/>
	    <arg name="depth_registration" value="true"/>
	</include>
		
	<node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
		<remap from="/image" to="/camera/depth_registered/image_raw" />
		<remap from="camera_info" to="/camera/depth_registered/camera_info"/>
	</node>	
<include file = "$(find robomuse)/launch/driver.launch"/> 

	
</launch>
