<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<!--robot name="hi"-->
<xacro:include filename="$(find robomuse)/urdf/robomuse_base/try.gazebo.xacro"/> 
<link name="robomuse_base">
      <inertial>
        <mass value="1"/>
        <origin xyz="0 0 3"/>
        <inertia ixx="1" ixy="0" iyy="1" iyz="0" izz="1" ixz="0"/>
      </inertial>
    <visual>
        <origin xyz="0 0 5" rpy="0 0 0"/>
        <geometry>
	       <box size="0.5 0.5 0.5" />
        </geometry>
	<material name="Orange"/>
      </visual>
      <collision>
        <origin xyz="0 0 5" rpy="0 0 0"/>
        <geometry>
        <box size="0.5 0.5 0.5" />
        </geometry>
      </collision>
    </link>
<xacro:bases_gazebo/>
</robot>
