<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="bases_gazebo">
	<gazebo reference="robomuse_base">
      	      	<material>Gazebo/Red</material>
		<static>false</static>
    <turnGravityOff>false</turnGravityOff>	
	</gazebo>
    <!-- position controller -->
    <gazebo>
      <plugin name="base_controller" filename="libgazebo_ros_planar_move.so">
        <commandTopic>cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <odometryRate>100.0</odometryRate>
        <robotBaseFrame>robomuse_base</robotBaseFrame>
      </plugin>
    </gazebo>
  </xacro:macro>
<xacro:bases_gazebo/>

</robot>
